/** 
 * @provides diffusion-repository-custom-css 
 */ 

.phui-crumbs-view.phui-crumbs-border {
  max-width: 1140px;
  margin: auto;
  border:none;
  padding: 0px 12px 0px;
}

.phui-header-shell.diffusion-browse-header {
  max-width: 1140px;
  margin: auto;
}

.phui-list-view.phui-list-tabbar {
  max-width: 1140px !important;
  margin: auto;
}

.diffusion-line-link a {
  background: #f6f6f6;
}

.phui-two-column-content.phui-two-column-footer {
  max-width: 1140px;
  margin: auto;
}
